// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  height: 50px;
}

ul {
  list-style-type: none;
}

#products_index {
  float: left;
  border: red 1px solid;
}

#shopping_cart {
  float: right;
  border: red 1px solid;
}